* {
    box-sizing: border-box;
  } 
  /* https://stackoverflow.com/questions/8839374/html-and-css-background-image-is-not-showing-up */
  /* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_background4 */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding: 10px;
    margin: 0;
    background-image: url(/static/images/0_adQCvmmjD5j5PEtH.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /* https://www.w3schools.com/howto/howto_js_filter_lists.asp */
/* filter/Search List */
#searchForTable {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
/* filter/Search List */

/* https://css-tricks.com/adding-stroke-to-web-text/ */
h1 {
  font-family: 'Gentium Basic', serif;
  font-weight: bold;
  font-size: 250%;
  text-decoration: none;
  margin: 0;
  line-height: 70px;
  text-align: center;
  /* -webkit-text-stroke: 1px black; */
  color: grey;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

h1.image_input{
  background-image: url(/static/images/calc_bot.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position-x: 1em;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid grey;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  animation-name: slideIn;
  animation-duration: 0.4s

}

#mydivheader{
  display: none;
}
/* https://www.tutorialspoint.com/How-to-remove-underline-from-a-link-in-HTML */
h1 a:link, h1 a:visited, h1 a:active {
  color: grey;
  text-decoration: none;
}

h1 a:hover {
  color: rgb(255, 255, 255);
}

/* --------------------------- */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  font-size: 175%;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
/* --------------------------- */


/* ---------------------------- */
/* Alternate the background color of the output rows */
.modal-content {
  margin: 10px;
  padding: 10px;
  width: auto;
  background: #FFF;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid grey;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  animation-name: slideIn;
  animation-duration: 0.4s

}

.list-group-item:nth-child(even) {
  background-color: grey;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
}

.list-group-item {
  padding: 10px;
}
.chat-log {
  overflow-y:scroll;
}
/* ---------------------------- */

 /* for chat bot modal */
 .form-control{
  width: 100%;
  border: 2px solid grey;
  padding: 15px;
  font-size: 1em;
}

.form-control input[type="text"]
{
   color: white;
}

 /* for chat bot modal */